{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link rel="stylesheet" href="{% static 'css/mystyle_darkmode.css' %}" media="(prefers-color-scheme: dark)">
    <script type="module" src="https://googlechromelabs.github.io/dark-mode-toggle/src/dark-mode-toggle.mjs"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.0/smooth-scroll.polyfills.js" integrity="sha256-k6FBqpTYTvkmmCLAaYnWFv0eim3Sot8PoKE3BpFYTfk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
  </head>
  <body>
    <!-- Navbar Menu  ---->
    <section id="nav-bar">
      <nav class="navbar navbar-expand-lg navbar-light">

         <a class="navbar-brand" href="{% url 'firstapp:home' %}">
           <img src="{% static 'svg/logo.svg' %}" alt="">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars"></i>
         </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="float:right;"> <dark-mode-toggle id="dark-mode-toggle-1" appearance="switch" dark="Dark" light="Light"></dark-mode-toggle></li>
            <li class="nav-item">
              <a class="nav-link" href="#section-top">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-footer">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'firstapp:list' %}">Go to my blog</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>


    <!--- Banner Hero section ------->
    <section id="section-top" >
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="promo-title">Welcome to My website!</p>
            <p class="join-title">Join with me! I will help get your Business Online</p>
            <a href="#section-footer" class="btn btn-primary">Contact Me</a>
          </div>
          <div class="col-md-6">
            <img src="{% static 'svg/undraw_email_campaign_qa8y.svg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
        <!--- Background wave Hero ---->
        <img src="{% static 'images/ground@-min.png' %}" class="bottom-img" alt="">
    </section>

    <!--- Services ---->
    <section id="section-services" >
      <div class="container text-center">
        <h3 class="title text-center">MY SERVICES</h3>
        <div class="row text-center">
          <div class="col-md-4 services">
            <img src="{% static 'svg/undraw_website_setup_5hr2.svg' %}" class="service-img"   alt="">
            <h4>Landing Page Design</h4>
            <p>I can design all kinds of portfolio and single page responsive
              websites that you can use to impress your next client and
              give yourself an online presence.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/branding.svg' %}" class="service-img"   alt="">
            <h4>Online  Branding</h4>
            <p>I can help you to create a logo that can help you get people stuck on those aahas and ohos that
              you crave in a meaningful and beautiful manner.
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{% static 'svg/ads.svg' %}" class="service-img"   alt="">
            <h4>Websites</h4>
            <p>I can help you create fully featured website for your, blogs, your ecommerce
              shop or even a place where you can post your adventures for the world to see.
            </p>
          </div>

        </div>
        <button type="button" class="btn btn-primary"  name="button"><a href="#section-footer" style="text-decoration:none; color:white;">Find Out More</a> </button>
      </div>
    </section>
    <!--- About Section ------>
    <section id="section-about">
      <div class="container">
        <h3 class="title text-center">ABOUT US</h3>
        <div class="row">
          <div class="col-md-6 about">
            <p class="about-title">Odio sed id eos et laboriosam consequatur eos earum soluta.</p>
            <ul>
              <li>Sint aliquam consequatur ex ex labore.</li>
              <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li>Aspernatur consectetur omnis numquam quaerat.</li>
              <li>Et vel ut quidem alias veritatis repudiandae ut fugit.</li>
              <li>Fugit ut maxime incidunt accusantium totam repellendus eum error. </li>
              <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            </ul>
          </div>
            <div class="col-md-6">
              <img src="{% static 'svg/undraw_mobile_marketing_iqbr.svg' %}" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </section>
    <!---  Testimonials Section  --->
    <section id="section-testimonials">
      <div class="container">
        <h3 class="title text-center">TESTIMONIALS</h3>
        <div class="row offset-1">
          <div class="col-md-5 testimonials">
            <p class="feedback">"I have been involved in big projects for major corporations and the team at Sajjan's is the best that I have worked with.
              They are timely, efficient and use best practices in their development work.
              They move our project along quickly and keep us agile enough to be competitive.
              I would recommend them to anyone."
            </p>
            <img src="{% static 'images/testimonials/nobody.png' %}"  alt="">
            <p class="user-details"><b>Sajjan</b><br>Unemployed</p>
          </div>
          <div class="col-md-5 testimonials">
            <p class="feedback">"I have been involved in big projects for major corporations and the team at Sajjan's is the best that I have worked with.
              They are timely, efficient and use best practices in their development work.
              They move our project along quickly and keep us agile enough to be competitive.
              I would recommend them to anyone."
            </p>
            <img src="{% static 'images/testimonials/nobody.png' %}" alt="">
            <p class="user-details"><b>Sanjiv</b><br>Unemployed as well</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer ------>
    <section id="section-footer" style="border-top:3px solid #292929;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-box">
              <img src="{% static 'images/testimonials/nobody.png' %}" alt="">
              <p>I am a fourth year software engineering student at Nepal College of Information technology,
                learning and complete projects  as i go.</p>
            </div>
            <div class="col-md-4 footer-box">
                <p id="contact"><b>Location</b></p>
                <p><i class="fa fa-map-marker"></i>Koteswor,Kathmandu</p>
                <p><i class="fa fa-phone"></i>+977-984-779-7811</p>
                <p><i class="fa fa-envelope-o"></i>sajjanpaudel811@gmail.com</p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>SUBSCRIBE NEWSLETTER</b></p>
                <input type="email"class="form-control" placeholder="Your Email">
                <button type="button"class="btn btn-primary" name="button">Subscribe</button>

                <div id="social">
                    <p>Find Me On Social Media</p>
                       <div class="social-icons">
                          <a href="https://www.facebook.com/sajjan.paudel" class="svg-icons"><img src="{% static 'svg/facebook-logo.svg' %}" alt=""></a>
                          <a href="https://instagram.com/sajjanpaudel" class="svg-icons"><img src="{% static 'svg/instagram_.svg' %}" alt=""></a>
                          <a href="https://twitter.com/ninjabutlazy" class="svg-icons"><img src="{% static 'svg/twitter-logo.svg' %}" alt=""></a>
                          <a href="https://github.com/sajjanpaudel" class="svg-icons"><img src="{% static 'svg/github.png' %}" alt=""></a>
                       </div>
                </div>
            </div>
            <div class="col-md-6 ">
              <p class="copyright">Copyright © 2019.</p>
            </div>

          </div>
          <br>
        </div>
    </section>

    <script type="text/javascript">
	    var scroll = new SmoothScroll('a[href*="#section-"]');
    </script>

  </body>
</html>
